<form id="search" class="form" name="search" method="get" action="">
  <div class="form-group">
    <label>What ?</label>
    <input type="text" name="search[keyword]" id="search_keyword" class="form-control" />
  </div>

  <input type="hidden" name="search[postal_code]" id="search_postal_code" />
  <input type="hidden" name="search[city]" id="search_city" />

	<div class="form-group">
		<button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Submit Message</button>
	</div>
</form>
  <div class="form-group">
    <label>Where ?</label>
    <input type="text" name="search[city_cp]" id="search_city_cp" class="form-control"/>
  </div>